<div class="contact-ct" style="min-height: 650px;">

<div class="center codeform" >
<form [formGroup]="newpassword" class="formct" style="min-width:450px; ">

  <div class="ct-inputs" >
  <label>Password:</label>
  <input formControlName="password" type="password" class="password" required  pattern="^(?=.*[0-9])(?=.*[!@#$%^])(?=.*[A-Z])(?=.*[0-9])(?=.*[a-zA-Z]).{6,}$"  id="2" name="password" placeholder="please enter a password " value="">
  </div>
  <div *ngIf="newpassword.controls.password.invalid && newpassword.controls.password.touched"><p>Password: must have 1 special char,  1 capital letter, and password length >= 6 char</p></div>

  <div class="ct-inputs" >
  <label>Confirm Password:</label>
  <input formControlName="retypepassword" type="password" class="password" required    id="3" name="retypepassword" placeholder="please confirm  password " value="">
  </div>
    <div *ngIf="newpassword.controls.retypepassword.invalid && newpassword.controls.retypepassword.touched">
      <p>password does not match please retype password correctly</p></div>

<div class="right-pos">
<button type="submit"  (click)="submit(newpassword)" class="submit-btn btn" style="width:240px; height:35px; position:relative; right:80px; margin-top:30px; border:1px solid black; border-radius:6px;">
Submit
</button>
</div>
</form>
</div>



  </div>
