@import '../../styles.scss';
@import '../../variables.scss';
//bannerdis left to right transition
.header-ct {
  width: 100%;
  display: flex;
  height:auto;
  flex-wrap: wrap;
  align-items: center;
// background: $headerBackgroundColor;
//  background: rebeccapurple;
background:linear-gradient(45deg, #c4a3e8, #ff666640);
background: #5961ff;
  .underline_is-active {
    border-bottom: 1px solid #fff !important;
  }

  .logo-image {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    align-items: center;
    flex-wrap: wrap;

    img {
   width: 60px;
      height: 80%;
      border: 2px solid transparent;
      border-radius: 90px;
      margin-left: 30px;
    }
  }

  a,
  button,
  p,
  span {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
  }

  .site-nav a {
    padding: 3px 10px;
  }
  @media screen and (min-width: 400px) {
    a,
    p,
    span {
      font-size: 17px;
    }
  }

  .site-nav__link:focus .site-nav__label,
  .site-nav__link:not([disabled]):hover .site-nav__label {
    border-bottom-color: 1px solid #fff;
    box-sizing: border-box;
  }

  .site_nav-ct {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;

    .search-ct {
      width: 100%;
      height: auto;
      min-height: 60px;
      background-color: red;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      justify-content: space-evenly;
    }

    .icons-ct {
      height: 100%;
      @include flex-box();
      @include flex-wrap(wrap);
      @include justify-content(flex-end);
      @include align-items(center);
      position: relative;
      margin-right: 15px;

      a,
      button {
        box-sizing: border-box;
        color: white;
        width: 40px!important;
        height: 100%!important;
        padding-right: 4px;
        background: transparent;
        border: none!important;
        padding-left: 4px;
        @include flex-box();
        @include justify-content(center);
        @include align-items(center);

        &:focus {
          outline: none!important;
          filter: brightness(0.8)!important;
          fill: rgba(0, 0, 0, 0.81);
        }

        svg {
          width: 26px;
          color: white!important;
          height: 26px;
          fill: white;
        }
      }
    }

    .search-items {
      display: flex;
      align-items: center;
    }

    .desktop-nav {
      width: 100%; //min-width: 700px;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

#bignav {
  /*accessablenav*/
  width: 50%;
  flex-wrap: no-wrap;
  min-width: 350px;
}

.site-nav {
  position: relative;
  padding: 0;
  disply: block;
  text-align: center;
  padding: 3px;
}

.site-nav__link .icon-chevron-down {
  width: calc(8em / 12);
  height: calc(8em / 12);
  margin-left: 0.5rem;
  fill: white;
  color: white;
}

.arrow {
  background: transparent;
  border: none;
  color: white;
  padding: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: middle;
  fill: white;
}

.site-nav li {
  list-style-type: none;
  display: block;
  margin-bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.site-nav a {
  padding: 3px 10px;
  font-size: 17px;
  font-family: "Original Surfer";
  color: white;
  text-decoration: none;
}

.site-nav__link {
  display: block;
  white-space: nowrap;
}

.banner_dis {
  height: 40px;
  color: white;
  background: $bannerBackground;
  z-index: 1;
  position: initial;
  //animation: banner 3s 1;
  display: flex;
  width: 100%;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  text-align: center;

  a,
  p,
  span {
    font-size: 14px;
    display: inline;
    margin: 0;
    color: white;
    text-decoration: none;
    padding-right: 10px;
  }
}
@media (max-width:750px) {
  .middlenav {
    display: none;
  }

  .desktop-nav {
    min-width: 0;
    justify-content: flex-end!important;
  }
}

.banner-ct {
  background: $bannerBackground;
  background: #BEBEBE;
  background: $bannerDis-bc1;
}

.banner_dis {
  height: 40px;
  color: white;
  //background: $bannerBackground;
  z-index: 1;
  // background: #BEBEBE;
  // background: $bannerDis-bc1;
  background: #000000;
  position: relative;
  //animation: banner 2s cubic-bezier(0.4, 0, 1, 1) 1;
  @include maxw-flexbox();
  @include justify-content(center);
  @include align-items(center);
  @include flex-wrap(nowrap);
  text-align: center;

  a {
    text-decoration: underline!important;
  }

  a,
  p,
  span {
    font-size: 14px;
    display: inline;
    margin: 0;
    padding-right: 10px;
    color: white;
    font-weight: 300;
    font-family: monospace;
  }
}

a,
p,
span {
  font-family: "Original Surfer";
}
@media only screen and (max-width: 750px) {
  .navbar {
    display: none !important;
  }
};
.mobile-nav-wrapper{
width:100%; text-align:center;

}
.MobileNavClose {
}

.MobileNavOpen {
}

.submenu {
  display: none;
  position: absolute;
  margin: 0;
  z-index: +5;
  text-align: left;
  background: #1a6392;
  left: -1px;
  height: auto;
  background: #1a6392;
  text-align: center;
  top: 38px !important;
      width: 210px;
      padding:4px;
      box-sizing: border-box;
}

.dropdown-ct {
  position: relative;
  display: block;
  color: white!important;
  margin-bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  list-style-type: none;

  span {
    color: white;
  }
a{padding: 4px 15px 5px;}
.site-nav__label{border-bottom:1px solid transparent;}
.site-nav__label:not([disabled]):hover{

  border-bottom-color: #fff;
      box-sizing: border-box;
}

  .drpdwn-ct-btn {
    cursor: pointer!important;
    border: none;
    color: white;
    background-color: transparent;
    padding: 0 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
  }

  svg {
    width: calc(8em / 16);
    height: calc(8em / 16);
    margin-left: 0.5rem;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
  }
}

@media screen and (max-width: 750px) {
  .site-header__ham{
    display:block!important;
  }

}



//mobile nav

.mobile-nav-wrapper {
    width: 100%;
    text-align: center;
    background: #1a6392;
    transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
    width: 100%;
    transform: translate3d(0, 0, 0);
    position: relative;
    top: 40px;
    z-index: +3939933333333;

}
.mobile-nav {
    display: block;
    -ms-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: all 0.45s cubic-bezier(0.29, 0.63, 0.44, 1);
    position: absolute;
    top: -40px;
    z-index: +3939933333333;


}
.mobile-nav__item {
    display: block;
    background: #1a6392;
    width: 100%;
    border-bottom: 1px solid white;
}
.mobile-nav__link, .mobile-nav__sublist-link {
    display: block;
    width: 100%;
    padding: 15px 30px;
    font-size: 16px;
}
.mobile-nav__link {
    position: relative;
    background: transparent;
}
.mobile-nav__label {
    border-bottom: 1px solid transparent;
}

.mobile-nav__dropdown {
  position: absolute;
  background-color: $color-body;
  z-index: +883883838;
  width: 100%;
  top: 0;
  right: -100%;
  display: none;
}
.mobile-nav__sublist-link:not(.mobile-nav__sublist-header) {
  padding-left: $return-button-width + $nav-button-padding;
  padding-right: ($nav-button-padding * 2);
}

.mobile-nav__item {
  display: block;
  background: $header-bc2;
  width: 100%;
  border-bottom:1px solid white;

  &:not([disabled]):hover,:focus{
    background: $mobilenav-hover-bc2;

  }
  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 12px;
    width: 10px;
    margin: -6px 0 0 -5px;
  }
}

.mobile-nav__return {
  border-right: 1px solid $color-border;
      background: black!important;

}

.mobile-nav__return-btn {
  position: relative;
  padding: 24px 0;
  width: $return-button-width;
  background:black;
}

.mobile-nav__icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding-left: $gutter-site-mobile;
  padding-right: $gutter-site-mobile;
  pointer-events: none;
  overflow: hidden;
}

.mobile-nav__table {
  display: table;
  width: 100%;
}

.mobile-nav__table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  text-align: left;
  white-space: normal;
  background:black;
}

.mobile-nav__toggle-button {
  padding: 20px 15px;
}


@keyframes frame {
from {left:-100%; display:none; }
to {left:0% ; display:block; }

};

@-webkit-keyframes frame {
from {position:absolute; left:-100%; display:none ;}
to  {position: absolute; left:0% ; display:block;}

};



@keyframes frame2 {
from {left:0%; display:block; }
to {left:-100% ; display:none; }

};

@-webkit-keyframes frame2 {
from {position:absolute; left:0%; display:block;}
to  {position: absolute; left:-100% ; display:none;}

};



.js-toggle_submenu-active{
  -webkit-animation: frame 2s  1 forwards !important;
  animation: frame 2s  1 forwards !important;
  display:block;



}
