<div class="adminhome" >

  <div class="ct" style="height: auto;
    min-height: 100vh; background:black">
    <!-- <app-fullbackgroundimage backgroundimage="admin_background_Image" class="section-1 section-ct">
    </app-fullbackgroundimage> -->
    <!-- <div class="content-admin"> -->

      <!-- <div class="content"> -->

        <nav class="nav-row" style="background:#292929; color:white;">
          <button (click)="viewclicked('console')" mat-button> CONSOLE</button>
        <button (click)="viewclicked('productpage')" mat-button >PRODUCT-PAGE</button>
        <button (click)="viewclicked('SalesData')"  mat-button >SALES</button>
        <button (click)="viewclicked('PickData')"  mat-button >PickData</button>
        <button (click)="viewclicked('GRAPHINGPAGE')"  mat-button >GRAPHINGPAGE</button>
        </nav>
        <div class="switch-ct">
        <router-outlet  ></router-outlet>
        </div>
        <!-- <a href="#" routerLink="pages/admin/productadder">
          product adder page</a> -->
      <!-- </div> -->
    <!-- </div> -->






  </div>




  <!-- <div class="ct" style=" height: auto;
    min-height: 100vh;">
    <app-fullbackgroundimage backgroundimage="home_image" class="section-1 section-ct">
    </app-fullbackgroundimage>
    <div class="content-admin">
      <div class="content">



      </div>
    </div>
  </div> -->





</div>
