.ng-invalid-main  {
      border-radius: 5px!important;
      border-left: 5px solid red!important;
    }
    .ng-valid-main  {
    border-radius: 5px!important;
    border-left: 5px solid #046d04!important;
}

.ng-pending-main{
  border-radius: 5px!important;
  border-left: 5px solid orange!important;
}
.group-ct{

  width: 90%;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

}
