.signup-ct{
  width:100%;
  height:100%;
  display: block;
  background: {
  image:url(../../../../assets/images/superbeach.jpg);
  size:cover;
  position:center;
}
.form-ct{
  position:relative;
  width: 60%;
  height: auto;
  background:rgba(0,0,0,0.5);
  min-height: 400px;
  display:flex;
  flex-wrap:nowrap;
  justify-content: center;
  flex-direction: column;
}

}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.contact-ct{
  width:100%;
  display: block;
  height: 100%;
background: {
  image:url(../../../../assets/images/superbeach.jpg);
  size:cover;
  position:center;

}

.right-pos{
  position: relative;
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-end;
  margin-bottom: 30px;

}
}
.center{
width:100%;
height: 100vh;
display: flex;
min-height:800px;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin: 0 auto;


}
.formct{
position:relative;
width: 60%;
height: auto;
background:rgba(0,0,0,0.5);
min-height: 400px;
display:flex;
flex-wrap:nowrap;
justify-content: center;
flex-direction: column;

}
.phone{
max-width:200px;

}
.last, .first {
  max-width:250px;

}
label{
color:white; font-size: 18px;
margin-left: 5px;
  width:100%;
  text-indent: 10px;
  display:block;
  font-weight: bold;
}

input{
  min-width: 250px;
  text-overflow: inherit;
  width: 80%;
  overflow-x: inherit;
  box-sizing:border-box;
  margin: 15px 50px;
  height: 35px;
  display: block;
  border: 1px solid black;
  font-size: 16px;
}
.links{
  height: auto;
      margin-top: 50px;
      position: absolute;
      bottom: 10px;

}

.block-link{
  color: white;
    font-size: 18px;
    margin-left: 5px;
    width: 100%;
    text-indent: 10px;
    display: block;
    margin: 10px 15px;
    font-weight: bold;
    text-decoration: none;
}
