.container-map{
  width:100%;
  height:100%;
      // overflow: hidden;
}
.map{
  overflow: hidden;
  color:white;
}

.content-section{
  overflow: hidden;
  color:white;
}
.mapboxgl-popup-content{

color:black!important;

}
