

<div class="map-ct-page">
<!-- adds data to current map -->
<section class="section">
  <label style="color:white; font-size:40px;"> ADD MAP DATA</label>
  <!-- <app-formfieldbuilder  [dataobjvalues]="dataobjvalues"  [selectedValue]="selectedValue" [formObj]="formObj">
  </app-formfieldbuilder> -->
</section>

<!-- creates map in sql  -->
<section class="section">
  <label> CREATE MAP </label>
  <!-- <app-formfieldbuilder  [dataobjvalues]="dataobjvalues" [selectedValue]="selectedValue" [formObj]="formObj">
  </app-formfieldbuilder> -->
</section>




</div>
