<div class="content">
  <div class="content-section">
    <label style="font-size:40px; background:transparent; display:block; width:100%;"> MAP</label>

    <app-showmap></app-showmap>

  </div>
        <div class="content-section">
          <label style="font-size:40px; background:transparent; display:block; width:100%;"> SALES</label>

          <!-- <app-showsales></app-showsales> -->


        </div>

              <div class="content-section">
                <label style="font-size:40px; background:transparent; display:block; width:100%;"> GRAPH</label>

                <!-- <app-showgraph graphname="productamount"></app-showgraph> -->


              </div>


</div>
