<div class='about-containers maxw hauto page-ct' >

               <app-img [imageclass]="aboutimg" box="falve"  [width]="width"  banner="false" [height]="height"  style="min-height:200px;" >


               </app-img>




       <p class="title-about-text">How We Got Started</p>
<div class="text-about-content" style="color:black;  width:80%; margin: 0 auto;">
     <p>  The concept for Clothesabyss was established when two friends had an extraordinary idea; to seek the highest quality beachwear around the globe, while giving customers the most sought after cutting edge styles. We pride ourselves in putting our customers at the forefront.  Our unique designs will be sure to make you stand out the moment you catch that perfect wave. We want our customers to "Surf the wave of life with the clothes you wear.
       </p>
       </div>

       <p class="title-about-text">What We Stand For</p>
       <div class="text-about-content" style="color:black;  width:80%; margin: 0 auto;">
<p>
Integrating the best technology into our apparel is of the utmost importance to us. Fabric, fit, function, and feel are all key elements to the Clothesabyss experience. We value each and every customer and always want you to have the best shopping experience.
</p>
</div>

               <p class="title-about-text">Co-Founders</p>
   <app-about-frow1></app-about-frow1>
   <app-about-frow2></app-about-frow2>


     </div>
