<div class='container' style="color:white;">


  <p style='color:white;'>retrievegraph works!</p>

   <!-- graphname<input [(ngModel)]="graphname"  #ctrl="ngModel" required>
   graphid<input [(ngModel)]="graphid"  #ctrl2="ngModel" required>
   formname<input [(ngModel)]="formname"  #ctrl3="ngModel" required> -->
  <!--
  <button style="display:block; margin:50px aut0;" class="btn" mat-button (click)="addkey(key)"> ADD KEY</button> -->

  <!-- <app-pick-graph *ngIf="graphfound" [arraykeys]="arraykeys" [items]="items" [graphtype]="graphtype">
  </app-pick-graph> -->

<button (click)="submit(graphname,formname,graphid)">SUBMIT</button>

</div>
